<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="NhaXes" controller="NhaXes" action="Index" >
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.qlchuyen" ImageUrl="~/Content/chonve/nxmenu/quanlychuyen.png"  PermissionNames="CVQLChuyen" >
     
      <siteMapNode title="Bảng điều chuyến" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_lichsu.png" PermissionNames="CVQLChuyen"  controller="NhaXes" action="BangDieuChuyen"  />
      <siteMapNode title="NhaXe" nopResource="chonve.menu.nhaxe.qlchuyen.PhuTrachChuyen" ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVQLChuyen" controller="NhaXes" action="PhuTrachChuyen"  />
      
 
      <siteMapNode title="Quản lý chốt xe" PermissionNames="CVHoatDongBanVe" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_quanlychot.png" >
        <siteMapNode title="Phụ trách chốt xe" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_phutrach.png" PermissionNames="CVQLChuyen"  controller="NhaXes" action="ChotKhachPhuTrach"/>
        <siteMapNode title="Giao dịch chốt xe" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_lichsu.png"  PermissionNames="CVQLChuyen"  controller="NhaXes" action="ChotKhachList" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.banve" ImageUrl="~/Content/chonve/nxmenu/phoive.png"  PermissionNames="CVHoatDongBanVe" >
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.banve.datve" ImageUrl="~/Content/chonve/nxmenu/phoive.png"  PermissionNames="CVHoatDongBanVe"  controller="QLPhoiVe" action="Index" />
      <siteMapNode title="Danh sách chuyến xe" ImageUrl="~/Content/chonve/nxmenu/keve_lichsu.png"  PermissionNames="CVHoatDongBanVe"  controller="QLPhoiVe" action="QLChuyenDi" />      
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.banve.doanhthu" ImageUrl="~/Content/chonve/nxmenu/baocaotheonhanvien.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="DoanhThuNhanvien" />        
      <siteMapNode title="Hopdong" nopResource="Lịch sử giao dịch vé" ImageUrl="~/Content/chonve/nxmenu/ico_history.png" PermissionNames="CVHoatDongBanVe" controller="NhaXes" action="LichSuPhoiVe" />
      <siteMapNode title="Hopdong" nopResource="Quản lý hủy vé" ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVQLHuy" controller="NhaXes" action="ListVeYeuCauHuy" />
    <siteMapNode title="Hopdong" nopResource="Danh Sách Khách Hàng" ImageUrl="~/Content/chonve/nxmenu/ico_listcustomer.png" PermissionNames="CVHoatDongBanVe" controller="NhaXes" action="CustomersNhaXe" />
      
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="Quản lý kê vé" ImageUrl="~/Content/chonve/nxmenu/editmauve.png"  PermissionNames="CVQLKeVe" >
       <siteMapNode title="Giao dịch vé" PermissionNames="CVQLKeVe" ImageUrl="~/Content/chonve/nxmenu/Tickets-icon.png" >
          <siteMapNode title="Tạo kê vé" ImageUrl="~/Content/chonve/nxmenu/keve_taomoi.png" PermissionNames="CVQLKeVe"  controller="GiaoDichKeVe" action="TaoKeVe"/>
          <siteMapNode title="Trả vé vs chuyển vé" ImageUrl="~/Content/chonve/nxmenu/keve_trave.png" PermissionNames="CVQLKeVe"  controller="GiaoDichKeVe" action="TraVe"/>
          <siteMapNode title="Lịch sử giao dịch" ImageUrl="~/Content/chonve/nxmenu/keve_lichsu.png" PermissionNames="CVQLKeVe"  controller="GiaoDichKeVe" action="List"/>
       <siteMapNode title="Quản lý thông tin vé" ImageUrl="~/Content/chonve/nxmenu/Tickets-icon.png" PermissionNames="CVQLKeVe"  controller="GiaoDichKeVe" action="ListVeXeItem"/>
      </siteMapNode>
      <siteMapNode title="Hopdong" nopResource="Quản Lý Mẫu Số Ký Hiệu" ImageUrl="~/Content/chonve/nxmenu/editmauve.png" PermissionNames="CVTaiKhoan"  controller="GiaoDichKeVe" action="ListMauVeKyHieu"/>      
    </siteMapNode>
    <siteMapNode title="Chuyển phát nhanh " ImageUrl="~/Content/chonve/nxmenu/nhanvientaikhoan.png" PermissionNames="CVHangHoaKiGui" >
      <siteMapNode title="Tạo phiếu biên nhận" ImageUrl="~/Content/chonve/nxmenu/keve_taomoi.png"  PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="QLGuiHang" >
      </siteMapNode>
      <siteMapNode title="Xếp phiếu vận chuyển" ImageUrl="~/Content/chonve/nxmenu/keve_capnhatchuyen.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="QLXepPhieuNew"  />
      <siteMapNode title="Gán chuyến" ImageUrl="~/Content/chonve/nxmenu/khohang.png" PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="QLPhieuVanChuyen"  />
      <siteMapNode title="Nhận/Trả hàng" ImageUrl="~/Content/chonve/nxmenu/keve_trave.png"  PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="QLTraHang" >
      </siteMapNode>
    </siteMapNode>
    <siteMapNode title="Lịch sử giao dịch" ImageUrl="~/Content/chonve/nxmenu/baocaolichtrinh.png" PermissionNames="CVHangHoaKiGui" >
      <siteMapNode title="Giao dịch ký gửi" ImageUrl="~/Content/chonve/nxmenu/guihang.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSPhieuChuyenPhat" />
      <siteMapNode title="Phiếu vận chuyển" ImageUrl="~/Content/chonve/nxmenu/quanlychuyen.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSPhieuVanChuyen" />
      <siteMapNode title="Lịch sử nhận hàng" ImageUrl="~/Content/chonve/nxmenu/ico_history.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSNhanHang" />
      <siteMapNode title="Lịch sử trả hàng" ImageUrl="~/Content/chonve/nxmenu/bctk_nhanviendinhky.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSTraHang" />
      <siteMapNode title="Hàng tồn, thất lạc" ImageUrl="~/Content/chonve/nxmenu/quanlyxethongtin.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="HangTon" />
      <siteMapNode title="Xem phiếu chuyển phát" ImageUrl="~/Content/chonve/nxmenu/phoive.png"  PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="GomPhieuChuyenPhat" >

      </siteMapNode>
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="Báo cáo chuyển phát" ImageUrl="~/Content/chonve/nxmenu/baocao.png" PermissionNames="CVBaoCao,CVHangHoaKiGui" >
      <siteMapNode title="Báo cáo doanh thu theo văn phòng" ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVBaoCao,CVHangHoaKiGui" controller="BaoCao" action="DoanhThuHangHoaVanPhong" />
      <siteMapNode title="Báo cáo Vận chuyển" ImageUrl="~/Content/chonve/nxmenu/quanlyxe.png" PermissionNames="CVBaoCao" controller="BaoCao" action="BaoCaoPhieuVanChuyen" />
      <siteMapNode title="Báo cáo chuyển phát hàng ngày" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhlichtrinh.png" PermissionNames="CVBaoCao" controller="BaoCao" action="LenhVanChuyenHangNgay" />
      <siteMapNode title="Báo cáo chuyển phát hàng tháng" ImageUrl="~/Content/chonve/nxmenu/baocaobieudo.png" PermissionNames="CVBaoCao" controller="BaoCao" action="LenhVanChuyenHangThang" />
      <siteMapNode title="Chỉ tiêu chuyển phát tháng" ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVBaoCao" controller="BaoCao" action="ChiTieuChuyenPhatThang" />
      <siteMapNode title="Báo cáo tổ vận chuyển" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVBaoCao" controller="BaoCao" action="BaoCaoToVanChuyen" />
      <siteMapNode title="Báo cáo tổng hợp" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_lichsu.png" PermissionNames="CVBaoCao" controller="BaoCao" action="DoanhThuHangHoaTongHop" />
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.hanhtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinh.png" PermissionNames="CVHanhTrinh" >
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.hanhtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhquanly.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="HanhTrinhList"  />
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.diemdon" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhdiemdon.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="DiemDonList" />
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.lichtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhlichtrinh.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="LichTrinhList"  />
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.nguonve" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhnguonve.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="NguonVeList"  />
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.qlxe" ImageUrl="~/Content/chonve/nxmenu/quanlyxe.png"  PermissionNames="CVXeVanChuyen" >
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.qlxe.thongtinxe" ImageUrl="~/Content/chonve/nxmenu/quanlyxethongtin.png"  PermissionNames="CVXeVanChuyen"  controller="NhaXes" action="XeInfoList"/>
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.qlxe.loaixe" ImageUrl="~/Content/chonve/nxmenu/quanlyxeloaixe.png"  PermissionNames="CVXeVanChuyen"  controller="NhaXes" action="LoaiXeList" />
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.nhanvien" ImageUrl="~/Content/chonve/nxmenu/nhanvien.png" PermissionNames="CVNhanVien" >
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.nhanvien.quanly" ImageUrl="~/Content/chonve/nxmenu/nhanvienquanly.png" PermissionNames="CVNhanVien"  controller="NhaXes" action="NhanVienList"/>
      <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.nhanvien.phanquyen" ImageUrl="~/Content/chonve/nxmenu/nhanvientaikhoan.png" PermissionNames="CVTaiKhoan" controller="NhaXes" action="TaiKhoanList"/>
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.baocao" ImageUrl="~/Content/chonve/nxmenu/baocao.png" PermissionNames="CVBaoCao" >
      <siteMapNode title="Báo cáo tổng hợp Bảo Yến"  ImageUrl="~/Content/chonve/nxmenu/Tickets-icon.png" PermissionNames="CVBaoCao">
        <siteMapNode title="Báo cáo tổng hợp số hành khách" ImageUrl="~/Content/chonve/nxmenu/baocaobieudo.png" PermissionNames="CVBaoCao" controller="BaoCao" action="TongHopHanhKhach" />
        <siteMapNode title="Thống kê theo lượt xe chạy"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyen.png" PermissionNames="CVBaoCao" controller="BaoCao" action="LuotXeChay" />
        <siteMapNode title="Thông kê lượt xe chạy trong năm" ImageUrl="~/Content/chonve/nxmenu/baocaodttuyen.png" PermissionNames="CVBaoCao" controller="BaoCao" action="LuotXeChayNam" />
        <siteMapNode title="Tổng hợp doanh thu tháng" ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVBaoCao" controller="BaoCao" action="DoanhThuThang" />
        <siteMapNode title="Báo cáo tổng hợp hành khách, chuyến lượt, doanh thu" ImageUrl="~/Content/chonve/nxmenu/hanhtrinh.png" PermissionNames="CVBaoCao" controller="BaoCao" action="TongHopHK_CL_DT" />
        <siteMapNode title="Báo cáo chi tiết chi phí theo xe" ImageUrl="~/Content/chonve/nxmenu/baocaolichtrinh.png" PermissionNames="CVBaoCao" controller="BaoCao" action="ChiPhiTheoXe" />
        <siteMapNode title="Tổng hợp chi phí theo xe" ImageUrl="~/Content/chonve/nxmenu/baocaovanphong.png" PermissionNames="CVBaoCao" controller="BaoCao" action="TongHopChiPhi" />
        <siteMapNode title="Tổng hợp chung" ImageUrl="~/Content/chonve/nxmenu/baocaobieudo.png" PermissionNames="CVBaoCao" controller="BaoCao" action="TongHopChung" />
        <siteMapNode title="Doanh thu theo chặng" ImageUrl="~/Content/chonve/nxmenu/baocaobieudo.png" PermissionNames="CVBaoCao" controller="BaoCao" action="DoanhThuTheoChang" />
        <siteMapNode title="Báo cáo doanh thu, chuyến lượt theo nhân viên" ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVBaoCao" controller="BaoCao" action="BaoCaoDT_CL_NV" />
      </siteMapNode>
      <siteMapNode title="Thống kê sử dụng của tiếp viên"  ImageUrl="~/Content/chonve/nxmenu/phoive.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="ThongKeVeTiepVien" />
     <siteMapNode title="Báo cáo tổng hợp doanh thu cho lái và phụ xe" ImageUrl="~/Content/chonve/nxmenu/bctk_nhanviendinhky.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="BaoCaoLaiXePhuXe" />
    <siteMapNode title="Báo cáo khách hàng đặt mua vé" ImageUrl="~/Content/chonve/nxmenu/quanlychuyen.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="BaoCaoKhachHang" />
      <siteMapNode title="Thống kê lượt đi, về lái và phụ xe (bảng chấm công)" ImageUrl="~/Content/chonve/nxmenu/bctk_theoluot.png" PermissionNames="CVBaoCao" controller="BaoCao" action="LuotNhanVien" />
     
    </siteMapNode>
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.thongtinchung" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVThongTinNhaXe" >
      <siteMapNode title="Thongtin" nopResource="chonve.menu.nhaxe.thongtinchung.coban"  ImageUrl="~/Content/chonve/nxmenu/nhaxeinfocontract.png" PermissionNames="CVThongTinNhaXe" controller="NhaXes" action="Info"  />
      <siteMapNode title="Thongtin" nopResource="chonve.menu.nhaxe.thongtinchung.vanphong"  ImageUrl="~/Content/chonve/nxmenu/nhaxeinfovanphong.png" PermissionNames="CVThongTinNhaXe" controller="NhaXes" action="VanPhongList" />
       <siteMapNode title="Mẫu lệnh đón khách" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomaulenhxexuatben.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="LenhChuyenKhach" />
      <siteMapNode title="Quản lý tổ vận chuyển"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVThongTinNhaXe" controller="HangHoa" action="QLToVanChuyen" />
      <siteMapNode title="Quản lý tuyến hành trình"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVThongTinNhaXe" controller="HangHoa" action="QLTuyenHanhTrinh" />
      <siteMapNode title="Quản lý khu vực"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVThongTinNhaXe" controller="HangHoa" action="QLKhuVuc" />
      <siteMapNode title="Quản lý nhân viên vận chuyển"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="QLNguoiVanChuyen" />
      <siteMapNode title="Mẫu thu chi phí" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomaulenhxexuatben.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="PhieuThuChiPhi" />
      <siteMapNode title="Mẫu phiếu chi" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomaulenhxexuatben.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="PhieuChi" />
      <siteMapNode title="Mẫu phiếu thu" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomaulenhxexuatben.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="PhieuThu" />
      <siteMapNode title="Cấu hình chung" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="CauHinhChung" />
      <siteMapNode title="Mẫu phiếu biên nhận" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomauphieuguihang.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="PhieuGuiHangHoa" />
      <siteMapNode title="Mẫu vé" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomauve.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="CuongVe" />
      <siteMapNode title="Mẫu phiếu vận chuyển" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomaulenhhanghoa.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="LenhChuyenHangHoa" />
    </siteMapNode>
    <siteMapNode title="Help" nopResource="Admin.Help" ImageUrl="~/Content/chonve/nxmenu/trogiup.png">
      <siteMapNode title="Help1" nopResource="ChonVe.NhaXe.Help.ThongTin" url="" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" />
      <siteMapNode title="Help2" nopResource="ChonVe.NhaXe.Help.XeVanChuyen" url="" ImageUrl="~/Content/chonve/nxmenu/quanlyxethongtin.png" />
      <siteMapNode title="Help3" nopResource="ChonVe.NhaXe.Help.NhanVien" url="" ImageUrl="~/Content/chonve/nxmenu/nhanvien.png" />
      <siteMapNode title="Help3" nopResource="ChonVe.NhaXe.Help.BanVe" url="" ImageUrl="~/Content/chonve/nxmenu/phoive.png" />
    </siteMapNode>
  </siteMapNode>
</siteMap>

