<img alt="" src="~/Themes/ChonVe/Content/images/slide.png" style="height:385px" />

<table style="height: 145px; width: 860px; font-size: 13px; text-align: left;">
    <tbody>
        <tr>
            <td style="text-align: center; vertical-align: top; width: 270px;">
                <p><strong>C&Ocirc;NG TY TNHH BẢO YẾN</strong></p>
                <p>SỐ 86 TT VTTL - ĐƯỜNG NH, TH, TT, HN</p>
            </td>
            <td style="width: 250px; vertical-align: top;">
                <table style="width: 100%;" cellspacing="2" cellpadding="2">
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: center; font-size: 20px; font-weight: bold;">PHIẾU THU CHI PHÍ</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: center; width: 120px;">&nbsp;</td>
                            <td style="text-align: left;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding-right: 40px;" colspan="3">Ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="vertical-align: top;" rowspan="2">
                <table style="width: 100%;" cellspacing="2" cellpadding="2">
                    <tbody>
                        <tr>
                            <td style="text-align: center; font-weight: bold;">Mẫu số 02 - TT</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-size: 12px;">(Ban h&agrave;nh theo QĐ số 48/2006/QĐ-BTC<br /> ng&agrave;y 14/09/2006 của Bộ trưởng BTC)</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <table style="width: 100%; font-weight: bold;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left;">Quyển số :</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Nợ :</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">C&oacute; :</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">C&oacute; :</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
     <tr>
         <td colspan="3">
             <table width="100%" style="margin-left:10px">
                 <tr>
                     <td>
                         <table width="100%">
                             <tr>
                                 <td>
                                     Chi tiền ăn:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [CHI_TIEN_AN]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Chi cầu đường:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [CHI_CAU_DUONG]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Chi qua đêm:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [CHI_QUA_DEM]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Chi tiền phơi:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [TIEN_PHOI]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Chi tiền dầu:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [TIEN_DAU]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     công an:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [CONG_AN]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Chi khác:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [CHI_KHAC]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Sửa chữa xe:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [SUA_CHUA_XE]
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                     Ghi chú:
                                 </td>
                                 <td style="border-bottom: 1px dotted #000000;">
                                     [GHI_CHU]
                                 </td>
                             </tr>

                         </table>
                     </td>
                     <td>
                         <table width="100%">
                             <tr>
                                 <td></td>
                                 <td>
                                     <table width="100%">
                                         <tr>
                                             <td>DT chuyến đi:</td>
                                             <td style="border-bottom: 1px dotted #000000;">[DT_CHUYEN_DI]</td>
                                         </tr>
                                         <tr>
                                             <td>Vé quầy:</td>
                                             <td style="border-bottom: 1px dotted #000000;">[VE_QUAY]</td>
                                         </tr>
                                         <tr>
                                             <td>Tổng chi:</td>
                                             <td style="border-bottom: 1px dotted #000000;">[TONG_CHI]</td>
                                         </tr>
                                         <tr>
                                             <td>Thực thu:</td>
                                             <td style="border-bottom: 1px dotted #000000;">[THUC_THU]</td>
                                         </tr>
                                        
                                     </table>
                                 </td>
                             </tr>
                             <tr>
                                 <td style="text-align: center;"><strong>Kế toán</strong><br /> <em>(K&yacute;, họ t&ecirc;n, đ&oacute;ng dấu)</em></td>
                                 <td style="text-align: center;"><strong>Lái, phụ xe</strong><br /> <em>(K&yacute;, họ t&ecirc;n, đ&oacute;ng dấu)</em></td>
                             </tr>
                         </table>
                     </td>
                 </tr>
             </table>
         </td>
     </tr>
    </tbody>
</table>

<hr style="width:860px" />